.container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.title {
  width: 80vw;
  align-items: center;
}

.min-height {
  min-height: 75%;
}

.center {
  display: flex;
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  color: red;
}
